@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend&family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend&family=Lobster&family=Orbitron&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend&family=Lobster&family=Meie+Script&family=Orbitron&display=swap");
/* font-family: 'Meie Script', cursive; */

body {
  background-color: blueviolet;
  color: black;
  /* color: blueviolet; */
}
.bgblack {
  background-color: rgb(14, 13, 13);
  color: rgb(106, 236, 106);
}
.bgwhite {
  background-color: rgb(255, 255, 255);
  color: black;
}
.bgyellow {
  background-color: yellow;
  color: rgb(58, 75, 223);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.max-width {
  width: 70vw;
}
.min-width {
  width: 50vw;
}
.margin {
  margin: auto;
}
#menu {
  font-size: 27px;
  margin: 10px;
  left: 20px;
  position: absolute;
  cursor: pointer;
}
.adjust {
  color: white;
  background-color: rgba(0, 0, 0, 0.767);
  padding: 20px;
  margin: 10px;
  border-radius: 20px;
  position: absolute;
  /* right: 0; */
  /* width: 14vw; */
  display: none;
  justify-content: center;
  /* align-items: center; */
  flex-direction: column;
  float: left;
}
.color {
  margin: 2px;
  cursor: pointer;
  padding: 3px;
  background: none;
}
.y {
  color: rgb(255, 251, 0);
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
  /* background-color: aqua; */
}
.logo {
  font-family: "Lobster", cursive;
  font-size: 2rem;
  display: flex;
  align-items: center;
  /* background-color: antiquewhite; */
}

.logo img {
  width: 60px;
}
.instruct {
  font-family: "Lexend", sans-serif;

  /* background-color: rgb(218, 94, 94); */
}
a {
  color: inherit;
  font-weight: bold;
}
a:hover {
  text-shadow: 2px 2px 20px antiquewhite;
  /* color: rgb(51, 44, 48); */
  font-weight: bolder;
  text-decoration: none;
}
/* .name {
  float: right;
 
  background-color: greenyellow;
} */
/* main section */
main {
  margin: 30px 0px;
}
/*  */
.container {
  /* background-color: violet; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.box {
  font-family: "Orbitron", sans-serif;
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.box img {
  width: 10rem;
  /* box-shadow: 2px 2px 20px aqua; */
  border-radius: 20px;
  border: -1px solid transparent;
}
.bgwin {
  box-shadow: 2px 2px 10px green, 2px 2px 20px green, 2px 2px 30px green,
    2px 2px 40px green;
}
.bglose {
  box-shadow: 2px 2px 10px red, 2px 2px 20px red, 2px 2px 30px red,
    2px 2px 40px red;
}
.player {
  margin: 20px 0px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
.btn button {
  font-size: 20px;
  font-weight: bold;
  border-radius: 20px;
  font-family: "Orbitron", sans-serif;
  padding: 20px;
  background-color: rgb(3, 153, 83);
  outline: none;
  border: 0px solid transparent;
  cursor: pointer;
}

.btn button:hover {
  padding: 20px;
  background-color: rgb(103, 230, 181);
  outline: none;
  border: 0px solid transparent;
  box-shadow: 2px 2px 10px rgb(17, 238, 153), 2px 2px 20px rgb(17, 238, 153),
    2px 2px 30px rgb(17, 238, 153), 2px 2px 40px rgb(17, 238, 153),
    2px 2px 50px rgb(17, 238, 153);
}
h1 {
  font-family: "Orbitron", sans-serif;
  text-align: center;
  font-size: 50px;
}
.foot {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
ul {
  margin: 50px;
}
li {
  margin: 10px;
  font-size: 20px;
}
